dialog {
  border-radius: 2rem;
  background: oklch(100% 0 0 / 0.35);

  backdrop-filter: blur(2px);
  block-size: 25rem;

  &::backdrop {
    background-image: linear-gradient(
      45deg,
      oklch(95% 0.2 106.75),
      oklch(78% 0.17 67.58),
      oklch(63% 0.25 29.23),
      oklch(60% 0.241 9.47)
    );
    opacity: 0.85;
    cursor: pointer;
  }

  scrollbar-width: thin;
  scrollbar-color: oklch(95% 0.2 106.75 / 0.35) transparent;
}

dialog img {
  max-width: 100%;
}